%TMPL:INCLUDE{"foswiki"}%

%TMPL:DEF{"ngapp"}%ng-app="foswikiApp"%TMPL:END%
%TMPL:DEF{"ngcontroller"}%ng-controller="ViewCtrl"%TMPL:END%

%TMPL:DEF{"pageineffect"}%pulse,bounceIn,bounceInLeft,bounceInRight,bounceInUp,fadeIn,fadeInUp,fadeInLeft,fadeInRight,lightSpeedIn,zoomIn,zoomInLeft,zoomInRight,zoomInUp%TMPL:END%
%TMPL:DEF{"pageouteffect"}%bounceOut,bounceOutDown,bounceOutLeft,bounceOutRight,fadeOut,fadeOutDown,fadeOutLeft,fadeOutRight,hinge,hinge,zoomOut,zoomOutLeft,zoomOutRight,zoomOutDown%TMPL:END%

%TMPL:DEF{"javascript::angular"}%%TMPL:P{"javascript::angular::prefs"}%%TMPL:P{"javascript::angular::dev"}%%TMPL:END%

%TMPL:DEF{"javascript::angular::prefs"}%%ADDTOZONE{"script" 
  requires="JQUERYPLUGIN::FOSWIKI::PREFERENCES"
  id="ANGULARSKIN::PREFERENCES"
  text="<script type='text/javascript'>
jQuery.extend(foswiki.preferences, {
  'ANGULAR_EXCLUDE':'%QUERY{"{AngularPlugin}{Exclude}"}%'
});
</script>"
}%%JQREQUIRE{"ngCore, loadingBar"}%%TMPL:END%

%TMPL:DEF{"javascript::angular::prod"}%%ADDTOZONE{
    "script"
    id="ANGULARSKIN"
    requires="ANGULARPLUGIN::NGCORE"
    text="<script src='%PUBURLPATH%/%SYSTEMWEB%/AngularSkin/pkg.js'></script>"
}%%TMPL:END%

%TMPL:DEF{"javascript::angular::dev"}%%ADDTOZONE{
    "script"
    id="ANGULARSKIN"
    requires="ANGULARPLUGIN::NGCORE, ANGULARPLUGIN::NGROUTE"
    text="<script src='%PUBURLPATH%/%SYSTEMWEB%/AngularSkin/app.uncompressed.js'></script>
<script src='%PUBURLPATH%/%SYSTEMWEB%/AngularSkin/settings.uncompressed.js'></script>
<script src='%PUBURLPATH%/%SYSTEMWEB%/AngularSkin/controller.uncompressed.js'></script>
<script src='%PUBURLPATH%/%SYSTEMWEB%/AngularSkin/directives.uncompressed.js'></script>
<script src='%PUBURLPATH%/%SYSTEMWEB%/AngularSkin/services.uncompressed.js'></script>"
}%%TMPL:END%

%TMPL:DEF{"css::angular"}%%ADDTOZONE{
  "head"
  id="ANGULARPLUGIN::CSS"
  text="<link rel='stylesheet' type='text/css' href='%PUBURLPATH%/%SYSTEMWEB%/AngularSkin/pkg.css' media='all' >"
}%%TMPL:END%
