%TMPL:INCLUDE{"foswiki"}%
%TMPL:DEF{"htmldoctype"}%<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="%LANG%" lang="%LANG%" %TMPL:P{"ngapp"}% %TMPL:P{"ngcontroller"}%>%TMPL:END%
%TMPL:DEF{"windowtitle"}%<title class="foswikiContents" name="windowtitle::contents" type="plain"></title>%TMPL:END%
%TMPL:DEF{"windowtitle::contents"}%%TMPL:P{"titleaction"}% <nop>%BASETOPIC%%TMPL:P{"titlesep"}%%BASEWEB%%TMPL:P{"titlesep"}%<nop>%WIKITOOLNAME%%TMPL:END%
