%TMPL:INCLUDE{"view"}%

%TMPL:DEF{"htmldoctype"}%<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="%LANG%" lang="%LANG%" %TMPL:P{"ngapp"}% %TMPL:P{"ngcontroller"}%>%TMPL:END%
%TMPL:DEF{"windowtitle"}%<title class="foswikiContents" name="windowtitle::contents" type="plain">%TMPL:P{"windowtitle::contents"}%</title>%TMPL:END%
%TMPL:DEF{"windowtitle::contents"}%%TMPL:P{"titleaction"}% <nop>%BASETOPIC%%TMPL:P{"titlesep"}%%BASEWEB%%TMPL:P{"titlesep"}%<nop>%WIKITOOLNAME%%TMPL:END%

%TMPL:DEF{"sidebar"}%<div id="patternSideBar"><div id="patternClearHeaderLeft"></div>
<div id="patternSideBarContents" class="foswikiContents" name="websidebar" reload="web">
%TMPL:P{"websidebar"}%
</div></div>%TMPL:END%

%TMPL:DEF{"main"}%<div class="foswikiPage">
  <div id="patternScreen">
    <div id="patternPageShadow">%TMPL:P{"topbar"}%
      <div id="patternPage">%TMPL:P{"startsidebarwrapper"}%
        <div id="patternOuter">
          <div id="patternFloatWrap">
            <div id="patternMain">%TMPL:P{"topbarspacer"}%
              <div id="patternMainContents" class="foswikiContents" name="patterntopiccontents">%TMPL:P{"patterntopiccontents"}%</div>
            </div>%TMPL:P{"sidebar"}%
          </div>
          <div class="clear">&nbsp;</div>
        </div>%TMPL:P{"endsidebarwrapper"}%%TMPL:P{"bottombar"}%
      </div>
    </div>
  </div>
</div>%TMPL:P{"javascript::angular"}%%TMPL:P{"css::angular"}%%TMPL:END%

%TMPL:DEF{"head:meta"}%<meta charset="%CHARSET%" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5, user-scalable=yes" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<link rel="icon" href="%FAVICON%" type="image/x-icon" />
<link rel="shortcut icon" href="%FAVICON%" type="image/x-icon" />
<link rel="alternate" href="%SCRIPTURL{edit}%/%BASEWEB%/%BASETOPIC%?t=%GMTIME{"$epoch"}%" type="application/x-wiki" title="edit %BASETOPIC%" />
<meta name="TEXT_NUM_TOPICS" content="%MAKETEXT{"Number of topics:"}%" />
<meta name="TEXT_MODIFY_SEARCH" content="%MAKETEXT{"Modify search"}%" />
<meta name="robots" content="noindex" />%HTTP_EQUIV_ON_VIEW%
<base href="%SCRIPTURL{"view"}%/" /><!--[if IE]></base><![endif]-->%TMPL:END%
